<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/feedback">feedback page</a>.         <br>
  kann man auch einfach ne tabelle machen?
</p>
<table> cool und wie genau geht das?</table>